<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Private Homepage von Heiko Hüter."/>
    <title>www.ender74.de - Meine private Homepage</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/leaflet/css/leaflet.css" />
    <link rel="stylesheet" href="/leaflet/css/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="/resume.css" />
</head>

<body>
    <div data-rcomp="./src/views/app/resume/resume.js" data-rpropfile="./src/static/resume.json" id="container"><%= staticReact %></div>

    <script src="/build.min.js"></script>
</body>
</html>
